body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
    color: #61dafb;
}

.game-container {
    text-align: center;
}

#gameCanvas {
    background: linear-gradient(145deg, #1e1f26, #282c34);
    border: 2px solid #61dafb;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #61dafb;
}

#score {
    font-size: 24px;
    margin-top: 15px;
    color: #fff;
}
